# artifacts
__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*
.mypy_cache
.ruff_cache

# misc
.coverage
coverage.xml
notes.txt
.venv
.DS_Store
scripts/sync.*
.tox
logs

# Home Assistant configuration
config/*
!config/configuration.yaml

cycle.log
